<div class="main">
  <app-header name="ECM" scanstatus="hide"></app-header>

  
  <div class="techManage container" routerLink="/tm-page">
    <img src="../assets/images/inbox.png" width="20" height="20"  class="inbox d-inline-block align-left" alt="" style="flex:1;">
    <span style="flex:13;">技術管理</span>
    <img src="../assets/images/right_arrow.png" width="15" height="15"  class="right d-inline-block align-left" alt="" style="flex:1;">
  </div>
  <div class="space1"></div>
  <div class="techManage container" routerLink="/submit">
    <img src="../assets/images/inbox.png" width="20" height="20"  class="inbox d-inline-block align-left" alt="" style="flex:1;">
    <span style="flex:13;">繳檔簽核</span>
    <img src="../assets/images/right_arrow.png" width="15" height="15"  class="right d-inline-block align-left" alt="" style="flex:1;">
  </div>
  <div class="space"></div>

  <div class="favorites container">
    <img src="../assets/images/star.png" width="20" height="20"  class="inbox d-inline-block align-left" alt="" style="flex:1;">
    <span style="flex:13;">我的最愛</span>
    <img src="../assets/images/right_arrow.png" width="15" height="15"  class="right d-inline-block align-left" alt="" style="flex:1;">
  </div>
  <div class="space1"></div>
  <div class="searches container">
    <img src="../assets/images/search1.png" width="20" height="20"  class="inbox d-inline-block align-left" alt="" style="flex:1;">
    <span style="flex:13;">搜尋</span>
    <img src="../assets/images/right_arrow.png" width="15" height="15"  class="right d-inline-block align-left" alt="" style="flex:1;">
  </div>
</div>

<app-bottom-nav class="bottom_nav"></app-bottom-nav>