<div class="main">
  <div class="files" style="flex:1;">
    <img src="../assets/images/files.png" width="20" height="20"  class="folder d-inline-block align-left" alt="" style="flex:1;">
    <div style="color:#3c73c1; font-size: 12px; margin-top: 3px;">檔案</div>
  </div>
  <div class="teamspaces" style="flex:1;">
    <img src="../assets/images/teamspaces_g.png" width="20" height="20"  class="teamspace d-inline-block align-left" alt="" style="flex:1;">
    <div style="color:#c5c6c9; font-size: 12px; margin-top: 3px;">小組園地</div>
  </div>
  <div class="devices" style="flex:1;">
    <img src="../assets/images/device_g.png" width="20" height="20"  class="devices d-inline-block align-left" alt="" style="flex:1;">
    <div style="color:#c5c6c9; font-size: 12px; margin-top: 3px;">裝置</div>
  </div>
  <div class="settings" style="flex:1;">
    <img src="../assets/images/settings_g.png" width="20" height="20"  class="setting d-inline-block align-left" alt="" style="flex:1;">
    <div style="color:#c5c6c9; font-size: 12px; margin-top: 3px;">設定</div>
  </div>
</div>