<nav class="navbar navbar-light bg-light">
  <mat-icon style="color: white; flex: 1;" (click)=back(); >arrow_back_ios</mat-icon>  
  <a class="navbar-brand" href="#" style="flex: 13;"> <p class="title">{{ title }}</p> </a>
  <img src="../assets/images/more.png" width="30" height="30" class="more d-inline-block align-left" style="flex: 1;" alt="">
</nav>


<div class="searchbar">
  <img src="../assets/images/search.png" width="15" height="15" alt="" />
  <input
    type="text"
    class="search"
    id="search-text"
    placeholder="搜尋位置技術管理"
  />
</div>

<mat-list>
  <mat-list-item class="list-item" *ngFor="let item of file_path" (click)=getValue(item); [routerLink]="['/tm-page', item.name]" >
    <img src="../assets/images/folder.png" width="25" height="25" class="list-icon" style="flex:1;" alt=""/>
    <h4  style="flex: 13;" >{{ item.name }}</h4>
    <img src="../assets/images/right_arrow.png" width="15" height="15"  class="right d-inline-block align-left" alt="" style="flex:1;">
  </mat-list-item>
</mat-list>
<app-bottom-nav class="bottom_nav"></app-bottom-nav>